* {
    box-sizing: border-box;
}

.container {
    max-width: 760px;
    width: 100%;
    margin: auto;
}

button {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    background: #3498db;
    border: 0;
    margin: 10px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

button:hover {
    background: #3cb0fd;
    text-decoration: none;
}

.points {
    display: inline-block;
    font-family: Arial;
    font-size: 20px;
}

.points:before {
    content: 'Points: ';
}

.board {
    width: 100%;
}

.cell {
    float: left;
    position: relative;
    overflow: hidden;
    background-image:url('assets/hole-back.png');
    background-repeat:no-repeat;
    background-size:contain;
    background-position:center;
}

.cell::after {
    /* http://stackoverflow.com/questions/19068070/how-to-style-a-div-to-be-a-responsive-square#answer-28985475 */
    content: '';
    display: block;
    margin-top: 100%;
}

.hole-mask {
    width: 100%;
    z-index: 10;
    position: absolute;
    bottom: 0;
    left: 0;
}

.mole {
    position: absolute;
    width: 100%;
    margin-bottom: 100%;
    -webkit-transition: -webkit-transform 2s;
    transition: transform 2s;
    transform: translate(0, 100%);
    background-image:url('assets/avo1.png');
    background-repeat:no-repeat;
    background-size:contain;
    background-position:center;
}

.mole::after {
    content: '';
    display: block;
    margin-top: 100%;
}

.mole.whacked {
    background-image:url('assets/avo2.png');
}

.mole.active {
    transform: translate(0, 0);
}